@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@font-face {
    font-family: 'InterBlack';          /* 원하는 새 이름 */
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-900-normal.woff2') format('woff2');
  }